

.Player {
    width: 100px;
    height: 140px;
    color:black;
}
.player-pig {
    background-color:pink;
}

.player-dog {
    background-color: lightblue;
}

.player-none {
    background-color: lightgreen;
}


@media screen and (max-height: 400px) {
    .Player{
        width:40px;
        height:56px;
        font-size: 12px;
    }
}