.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  vertical-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  color: white;
}
.App-login-status {
  text-align: right;
  padding-right: 60px;
}
.App-title {
  font-size: 1.5em;
  display: inline;
  vertical-align: center;
}

.App-intro {
  font-size: large;
}

.CardPlayed {
  height:220px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
