.card {
    background-color: white;
    border: 1px solid gray;
    text-align: left;
    font-size: 2em;
    width: 140px;
    height: 210px;
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
    transition: margin-top 0.3s;
}

.card-small {
    width: 80px;
    height: 100px;
}


.card-number {
    margin-top: 5px;
    margin-left: 4px;
    width:32px;
    text-align: center;
}

.card-color {
    margin-left:5px;
    margin-top: -8px;
}

.card-big-color {
    text-align: right;
    font-size: 3em;
}

.card-diamond, .card-heart {
    color:red;
}

.card-spade, .card-clubs {
    color:black;
}


@media screen and (max-height: 400px) {
    .card {
        font-size:26px;
        width:58px;
        height:88px;
    }
    .card-small {
        font-size:18px;
        width:32px;
        height:40px;
    }
    .card-number {
        margin-left:0px;
        margin-top:0px;
        width:22px;
    }
    .card-small .card-number {
        width:18px;
    }
    .card-color {
        font-size:20px;
        margin-left:0px;
        margin-top: -4px;
    }
    .card-small .card-color {
        font-size:16px;
    }
    .card-big-color {
        display: none;
    }
}