.CardPlayed {
    height:210px;
}

.Middle-Tips {
    font-size: 2em;
    color:violet;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}


@media screen and (max-height: 400px) {
    .CardPlayed {
        height:88px;
    }

    .Middle-Tips {
        font-size:1.2em;
    }


}